

{% extends "dashboard/base/base.html" %}
{% load static %}

{% block css_imports %}
    <link rel="stylesheet" type="text/css" href="{% static "dashboard/static/css/style.css" %}">
{% endblock %}
{% block navbar %}{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
            <div class="card card-signin my-5">
                <div class="card-body">
                    <h5 class="card-title text-center">Twoje hasło zostało zmienione!</h5>
                    <p>
                        Twoje hasło zostało prawidłowo zmienione. Możesz teraz zalogować się na swoje konto
                    </p>
                    <hr>
                    <div class="custom-control mb-3">
                        <a class="" href="{% url 'dashboard:login' %}">
                            Przejdź do strony logowania
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
