{% extends 'dashboard/base/base.html' %}
{% load dashboard_tags %}
{% load static %}

{% block css_imports %}
    <link rel="stylesheet" type="text/css" href="{% static "dashboard/static/css/style.css" %}">
{% endblock %}
{% block navbar %}{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
            <div class="card card-signin my-5">
                <div class="card-body">
                    <h5 class="card-title text-center">Zmień hasło</h5>
                    {% if validlink %}
                        <form method="post">
                            {% csrf_token %}
                            <div class="form-label-group">
                                {{ form.new_password1 | addattrs:"{'class':'form-control'}" }}
                                <label for="inputEmail">Nowe hasło</label>
                            </div>
                            <div class="form-label-group">
                                {{ form.new_password2 | addattrs:"{'class':'form-control'}" }}
                                <label for="inputEmail">Potwierdzenie nowego hasła</label>
                            </div>
                            <button class="btn btn-lg btn-primary btn-block" type="submit">Zmień hasło</button>
                        </form>
                    {% else %}
                        <p>
                            Link do resetowania hasła był nieprawidłowy, prawdopodobnie dlatego, że został już użyty.
                                                      
                        </p>
                    {% endif %}
                    <hr>

                    <div class="custom-control mb-3">
                        <a class="" href="{% url 'dashboard:login' %}">
                            Wróć do strony logowania
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

