{% extends "forecaster/base/base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block css_imports %}
    <link rel="stylesheet"
          href="{% static "libs/jquery/jquery.datetimepicker.min.css" %}">
{% endblock %}
{% block content %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="{% url 'forecaster:dashboard' %}">Panel meteorologa</a>
        </li>
        <li class="breadcrumb-item">
            <a href="{% url "forecaster:synoptic_situation" %}">Sytuacja synoptyczna - lista</a>
        </li>
        <li class="breadcrumb-item active">
            Sytuacja synoptyczna - formularz
        </li>
    </ol>
    <hr>

    <form method="POST" action="">
        {% csrf_token %}
        <div class="col-8 col-centered">
            {{ form | crispy }}
            <input class="btn btn-primary" type="submit" value="Submit"/>

        </div>
    </form>
{% endblock %}

{% block js_imports %}
    <script src="{% static "libs/jquery/jquery.datetimepicker.full.min.js" %}"></script>
    <script src="{% static "forecaster/js/forecaster.js" %}"></script>

{% endblock %}